.SLIDER{
    font-family: 'Roboto', sans-serif;
}

.mt-slider {
    margin: auto;
    object-fit: cover;
}

.mt-slider img {
    display:block;
    width:100%;  
  }

.mt-slider-crop {
    margin:-5% 0;
}

.mt-slider::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000000 100%);
  margin-top: -150px;
  height: 135px;
  width: 100%;
  content: '';
}

.mt-slider h1 {
    color: #ffc107;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
